.button {
  margin-top: 64px;
  height: 50px;
  padding: 0 32px;

  border-radius: 8px;
  background: #835AFD;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;


  cursor: pointer;
  border: 0;

  img{
    margin-right: 8px;
  }

  transition: filter 0.2s;

  &:not(:disabled):hover{
    filter:brightness((0.9))
  }

  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }
}